.form {
  grid-area: form;
  border: 2px solid black;
  border-radius: 16px;
  margin: 5px 5px;
  background: linear-gradient(#2200ff, #887cd6);
}
.form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form form label{
  font-size: 20px;
  margin: 30px 0px;
  font-weight: bold;
}
.form form textarea{
  width: calc(100% - 8%);
  height: 100px;
  margin: 30px 0px;
  background-color: #b9b1e6;
  border-radius: 12px;
}
.form form textarea::placeholder {
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 400;
}
.form form textarea:focus {
  outline-color: #ffffff;
}
.TodoForm-buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: #699dff;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
}