.header-container {
  width: 100%;
  grid-area: header;
  height: fit-content;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 15px 5px;
  border: 2px solid black;
  border-radius: 16px;
  background: linear-gradient(to right,#2200ff, #887cd6);
}
.title{
  font-size: 20px;
  align-self: center;
  padding-left: 16px;
}
.info{
  align-self: center;
}