.tasks {
  grid-area: tasks;
  box-shadow: 5px 5px 5px black;
  border-radius: 16px;
  margin: 5px 5px;
  background: linear-gradient(#299bf8, #34a9f7);
  margin-left: 12px;
}
@media only screen and (max-width: 860px){
  .tasks{
    margin-left: 5px;
  }
}